<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="conectguitar.music.tcc.com.conectguitar" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".View.SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".View.SignUp"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".View.Display"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".View.AudioAppActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".View.Stage"
            android:label="ProjetoLogin1" >
        </activity>
        <activity
            android:name=".View.Lesson"
            android:label="ProjetoLogin1" >
        </activity>
        <activity
            android:name=".View.Students"
            android:label="ProjetoLogin1" >
        </activity>
        <activity
            android:name=".View.StudentsRelease"
            android:label="ProjetoLogin1" >
        </activity>
        <activity
            android:name=".View.UpdateUser"
            android:label="ProjetoLogin1" >
        </activity>
        <activity
            android:name=".View.UpdatePassword"
            android:label="ProjetoLogin1" >
        </activity>
        <activity
            android:name=".View.AudioTeacherActivity"
            android:label="ProjetoLogin1" >
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".View.StudentsFeedback"
            android:label="ProjetoLogin1" >
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".View.SplashScreen2"
            android:label="@string/title_activity_splash_screen2"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
